*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
tbody{
    border-spacing: 10px;
}
table{
    width: 90%;
    border-spacing: 2px;
}
td{
border: 1px solid red;
border-left: none;
border-right: none;
padding: 10px;
border-top: none;
}
th{
padding-top: 20px;
border: 1px solid red;
border-top: none;
border-left: none;
border-right: none;
background-color: aquamarine;
border-spacing: 0px;
}

tr{
    background-color: rgb(245, 151, 151);
}